@font-face {
  font-family: baskerville;
  src: url(../assets/LibreBaskerville-Regular.ttf); }

@font-face {
  font-family: baskerville-italic;
  src: url(../assets/LibreBaskerville-Italic.ttf); }

@font-face {
  font-family: baskerville-bold;
  src: url(../assets/LibreBaskerville-Bold.ttf); }

@font-face {
  font-family: endurance;
  src: url(../assets/EndurancePro.ttf); }

@font-face {
  font-family: palatino;
  src: url(../assets/Palatino-Roman.ttf); }

@font-face {
  font-family: palatino-italic;
  src: url(../assets/Palatino-Italic.ttf); }

.palatino {
  font-family: palatino, serif;
}
.hidden {
  display: none !important; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  color: white;
  background-color: #FCFCFC;
  background-size: 98.65%;
  background-position: center top;
  font-family: baskerville, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: white;
  transition: color .3s; }

h1 {
  text-align: center; }

input[type="text"], input[type="name"], input[type="email"] {
  display: block;
  width: 300px;
  outline: none;
  border: none;
  padding: 2px 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #e2b050;
  font-size: 16px;
  font-family: baskerville-italic;
  background-color: transparent; }

input[type="submit"] {
  padding: 6px 12px;
  margin-top: 5em;
  margin-bottom: 2em;
  background: transparent;
  border: 1px solid #E2B050;
  border-radius: 16px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  font-family: baskerville; }
  input[type="submit"]:hover, input[type="submit"]:active {
    background-color: #E2B050;
    color: white; }

:-moz-placeholder {
  font-family: baskerville-italic;
  color: #242020;
}
::-webkit-input-placeholder {
  font-family: baskerville-italic;
  color: #242020;
}
:-ms-input-placeholder {
  font-family: baskerville-italic;
  color: #242020;
}
.palatino :-moz-placeholder {
  font-family: palatino-italic;
}
.palatino ::-webkit-input-placeholder {
  font-family: palatino-italic;
}
.palatino :-ms-input-placeholder {
  font-family: palatino-italic;
}

.container {
  max-width: 1200px;
  padding: 8px;
  margin: auto; }

.slide {
  min-height: 500px;
  min-height: 100vh; }
  .slide.first {
    background-image: url(../assets/drona_landing.jpg);
    background-size: cover;
    background-position: 46% center; }
    .slide.first .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white; }
    .slide.first .title {
      position: relative;
      right: 9px;
      bottom: 20px;
      text-align: center; }
    .slide.first svg {
      margin: 0 auto 120px auto;
      width: 60%; }
      @media (max-width: 767px) {
        .slide.first svg {
          width: 80%;
          margin-bottom: 60px; } }
    .slide.first h1 {
      font-size: 14px;
      letter-spacing: .1px;
      line-height: 1.5; }
    .slide.first h2 {
      margin: 24px 0;
      font-size: 33px;
      letter-spacing: -.2px; }
      @media (max-width: 767px) {
        .slide.first h2 {
          font-size: 24px; } }
  .slide.second {
    background-color: #100B07;
    position: relative;
    background-image: url(../assets/second-slide.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .slide.second {
        background-size: 200%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .slide.second {
        background-size: 150%; } }
    .slide.second h1 {
      margin-top: 62px;
      font-size: 28px;
      line-height: 1.5; }
      @media (max-width: 767px) {
        .slide.second h1 {
          font-size: 18px; } }
  .slide.third {
    background-color: #E4AE5F; }
    .slide.third .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
    .slide.third h1 {
      margin: 100px 0 42px 0;
      text-align: center;
      font-size: 40px;
      letter-spacing: .5px; }
      @media (max-width: 767px) {
        .slide.third h1 {
          font-size: 30px;
          margin-top: 50px; } }
    .slide.third .process {
      width: 100%;
      max-width: 600px;
      position: relative; }
      .slide.third .process svg {
        position: absolute;
        right: 0;
        top: 24px; }
        @media (max-width: 767px) {
          .slide.third .process svg {
            display: none; } }
    .slide.third ol {
      display: flex;
      list-style: none;
      font-family: baskerville-italic;
      font-size: 14px;
      padding: 0 30px 0 0;
      text-align: center; }
      .slide.third ol li {
        width: 25%;
        position: relative;
        padding: 12px 24px; }
        @media (max-width: 767px) {
          .slide.third ol li {
            font-size: 9px; } }
        .slide.third ol li p {
          margin: 6px 0;
          font-size: 34px;
          font-family: baskerville;
          color: #8f6d33; }
        .slide.third ol li:not(:last-child):after {
          content: "";
          top: 20px;
          right: 0;
          position: absolute;
          width: 1px;
          height: 34px;
          background-color: #eee; }
    .slide.third .video-wrapper {
      position: relative;
      min-width: 350px;
      width: 30vw; }
      .slide.third .video-wrapper:after {
        content: "";
        display: block;
        padding-top: 70%; }
      .slide.third .video-wrapper iframe {
        position: absolute;
        width: 100%;
        height: 100%; }
  .slide .drone-background {
    width: 60%;
    height: 100vh;
    background-size: cover; }
  .slide.fourth {
    position: relative;
    display: flex;
    background-color: #0f0c0b; }
    .slide.fourth .drone-background {
      background-image: url(../assets/drone3.jpg);
      background-position: center; }
      @media (max-width: 899px) {
        .slide.fourth .drone-background {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          opacity: .3;
          z-index: 1; } }
    .slide.fourth .container {
      z-index: 2;
      width: 40%;
      padding: 24px 10% 24px 24px; }
      @media (max-width: 899px) {
        .slide.fourth .container {
          width: 100%; } }
    .slide.fourth h1 {
      text-align: left;
      text-transform: uppercase;
      line-height: 1.5; }
    .slide.fourth h2 {
      color: #d8b464;
      font-size: 14px; }
    .slide.fourth p {
      font-size: 11px;
      line-height: 1.5; }
    .slide.fourth ul {
      list-style: none;
      padding: 0; }
  .slide.fifth {
    display: flex;
    flex-wrap: wrap;
    background-color: #fcfcfc; }
    .slide.fifth .drone-background {
      background-image: url(../assets/drone4.jpg);
      background-position: center; }
      @media (max-width: 899px) {
        .slide.fifth .drone-background {
          display: none; } }
    .slide.fifth .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 40%;
      padding: 62px 64px 12px 30px; }
      @media (max-width: 899px) {
        .slide.fifth .container {
          width: 100%; } }
    .slide.fifth .winedrone {
      display: flex;
      align-items: center;
      color: #e2b050; }
      .slide.fifth .winedrone span {
        margin-left: 12px;
        line-height: 1.5;}
    .slide.fifth h1 {
      margin-bottom: 2em;
      color: #e2b050;
      font-size: 55px;
      text-align: left;
      font-weight: normal;
      letter-spacing: -.4px; }
      @media (max-width: 767px) {
        .slide.fifth h1 {
          font-size: 45px; } }

#js-message {
  position: absolute;
  color: #242020; }

.main-footer {
  width: 100%;
  padding: 26px;
  background-color: #e6e6e6;
  text-align: center;
  font-size: 13px;
}
.main-footer a {
  color: #6d6d71;
  display: inline-block;
}
.main-footer a:hover {
  color: #242020;
}
.main-footer a:last-child {
  display: block;
  margin-top: 6px;
}
@media (min-width: 768px) {
  .main-footer a:last-child {
    display: inline-block;
    margin-left: 48px;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px; }
  @media (max-width: 767px) {
    .main-header {
      padding: 12px; } }
  .main-header nav ul {
    margin: 0;
    padding: 0;
    font-size: 14px; }
    .main-header nav ul li {
      display: inline-block;
      margin-left: 8px;
      padding: 6px 8px; }
      @media (max-width: 650px) {
        .main-header nav ul li {
          display: none; } }
      .main-header nav ul li:last-child {
        display: inline-block;
        border: 1px solid white;
        border-radius: 9px; }
      .main-header nav ul li a {
        text-transform: uppercase; }
  @media (min-width: 1025px) {
    .main-header {
      padding-top: 48px;
    }
  }
  .main-header .language {
    position: absolute;
    list-style: none;
    right: 24px;
    top: 24px;
    margin: 0;
    padding: 0;
  }
  .language li {
    display: inline-block;
    font-size: 12px;
  }
  .language a {
    transition: border-bottom .3s;
  }
  .language li.current,
  .language a:hover {
    border-bottom: 1px solid rgba(255,255,255,.7);
  }

.confirmation {
  padding: 48px;
  color: black; }
